@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#root {
    padding: 10px;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin-top: 5px;
}

button {
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
    padding: 5px 5px;
}

li {
    margin-left: 40px;
}

p{
    display: inline;
}

.num {
    float: right;
}

.red {
    color: red;
}

footer {
    text-align: center;
    font-size: 12px;
    position: relative;
    color: rgb(154, 154, 154);
}

.dmy {
    text-align: center;
    font-size: 30px;
    color: red;
}

.delete {
    cursor: pointer;
    color: red;
    font-size: 20px;
}

.toggle {
    width: 15%;
    padding: 5px 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

hr {
    color: red;
}